h1
{
	color:#F6DED5;
}
#chats1
{
	width:200px;
	height:auto;
}
#chats2
{
	width:200px;
	height:auto;
}
body
{
	background-color: #FFF4F0;
}
href id="Le site de notre mamie"
{
	color:#966F53;
}